<script src="/css/health_recommend/health_answer.js" ></script>


<!-- 上方欄位 -->
<div class="container">
    <div class="mt-5 shadow p-5 mb-5 rounded ">
        <h3 id="nameDisplay"></h3>
        <h3>感謝您的用心填寫</h3>
        <h3>以下是推薦給您的保健品：</h3>
    </div>
</div>
<!-- 推薦的產品 -->
<div class="container" id="cardContainer">
</div>
<!-- 下方欄位 -->
<div class="container-fluid bg-primary mt-5">
    <button id="back">返回表單問卷</button>
</div>
